/* custom properties definieren en gebruiken */

/* HUISSTIJL */
body{
    --background-img: url("./assets/background.png");

/* Kleuren  */
    --card-background-color: #EAEAEA;
    --card-text-color: #000000;
    --text-color: #FFFFFF;
    --button-color: #8A0000;

/* Typografie */
    --font-size-text: 16px;
    --font-size-header-s: 20px;
    --font-size-header-m: 32px;
    --font-size-header-l: 48px;

    --font-family-text: "rubik-bubbles-regular, sans-serif";
    --font-family-details: "arial, sans-serif";

    --font-family: var(--font-family-text);

    --font-weight: 400;
    --font-style: normal;
    

/* buttons */
    --arrow-button-border-radius: ;
    --arrow-burron-padding : ;
    --arrow-button-background-color: ;
    --arrow-button-text-color: ;

    --text-button-border-radius: ;
    --text-burron-padding : ;
    --text-button-background-color: ;
    --text-button-text-color: ;

    background-image: var(--background-img);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    height: 100vh; 
    width: 100%; 
    background-attachment: fixed;
    
}

/* cards */

.card { 
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    border-radius: 10px;
    padding: 20px auto;
    padding-bottom: 20px; 
    padding-top: 30px; 
    margin: 20px;
    box-shadow: 0 4px 8px 0 var(--card-text-color);
    width: 300px;
    overflow: hidden;
}

.canvas img {
    width: 90%; 
    height: auto; 
    border-bottom: 2px solid var(--card-background-color); 
  }

