/* custom properties definieren en gebruiken */

/* HUISSTIJL */
body{
    --background-img: url("./assets/background.jpg");

/* Kleuren  */
    --card-background-color: #EAEAEA;
    --card-text-color: #000000;
    --text-color: #FFFFFF;
    --button-color: #8A0000;

/* Typografie */
    --font-size-text: 16px;
    --font-size-header-s: 20px;
    --font-size-header-m: 32px;
    --font-size-header-l: 48px;

    --font-family-text: "Rubik Bubbles", sans-serif;
    --font-family-details: "Arial", sans-serif;

    --font-family: var(--font-family-text);

    --font-weight: 400;
    --font-style: normal;
    

/* buttons */
    --arrow-button-border-radius: "";
    --arrow-burron-padding: "";
    --arrow-button-background-color: #8A0000;
    --arrow-button-text-color: #FFFFFF;

    --text-button-border-radius: "";
    --text-burron-padding: "";
    --text-button-background-color: #8A0000;
    --text-button-text-color: #FFFFFF;

    background-image: var(--background-img);
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat;  
    background-attachment: fixed;
}

/* card styles */

li { 
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    border-radius: 5px;
    padding: 20px 20px;
    padding-bottom: 20px; 
    padding-top: 20px; 
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 var(--card-text-color);
    width: 300px;
    overflow: hidden;
    
    a {
        font-family: var(--font-family-text);
        color: var(--card-text-color);
        text-decoration: none;
    

    }
}

li img {
    align-items: center;

    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--card-background-color); 
  }

 li  p { 
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    color: var(--card-text-color);
    text-align: center;
 }

 /* algemene styling */

 h1 {
    font-family: var(--font-family-text);
    font-size: var(--font-size-header-l);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 75px;
 }

 /* like button */

 .like button{ 
    border: none;
    font-size: var(--font-size-header-s);
    
 }
