body {
    line-height: 2;
}
 
 
li{
    display:flex;
    flex-direction: column;
   
    a{
        display:flex;
        flex-direction: column;
    }
    
    @media (min-width: 48em) {
        max-width: 80vh;
       
}
   
}
h1 {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    grid-column: 1 / -1;
}
 
ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    gap:10em;
    @media (min-width: 30em) {
        grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 48em) {
        grid-template-columns: repeat(2, 1fr);
    }
 
    @media (min-width: 64em) {
        grid-template-columns: repeat(3, 1fr);
    }
}
 
footer {
    text-align: right;
    @media (min-width: 30em) {
        text-align: center;
    }
    @media (min-width: 48em) {
        text-align: center;
    }
 
}