
/* layout dingen en styling */
/* layout dingen en styling */
body {
    line-height: 2;
    @media (min-width: 30em) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
 
footer {
    text-align: right;
    @media (min-width: 32em) {
        text-align: center;
    }
}
li{
    display:flex;
    flex-direction: column;
    a{
        display:flex;
        flex-direction: column;
    }
    img{
        max-width: 200px;
        max-height:200px;
    }
}
 
ul{
    display:grid;
 
}
 
@media min-width {
   
}